*{
    padding: 0;
    margin: 0;

    
}

.first{
    height: 7px;
    width: 100%;
    background-color: #1098ad;
}
.main {
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 70px;
  
  }
nav {
    background-color: #f7f7f7;
  }
h2,h1,span {
    color: #1098ad;
    margin-top: 10px;
    margin-right: 25px;
  }
.body1{
    padding: 20px;
}

.body2{
    padding-left:25%;
    padding-right: 25%;
}
img {
    margin-top: 20px;
    width: 100%;
  }
p {
    margin-top: 20px;
    color: #131212;
  
}
li {
    margin-left: 20px;
    color: #444444;
}
ol {
    margin-top: 10px;
  }
ul {
    margin-top: 10px;
  }
.wh{
      margin-top: 25px;
  }
